@charset "utf-8";
* 						{margin: 0; padding: 0;}
body						{font: 16px Georgia, serif;}

#page-wrap				{margin: 2% auto; color: rgb(56, 56, 56);}
#page-wrap >.main 		{border: 1px solid rgb(56, 56, 56); padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 5px;}
header, nav, section		{background: rgb(202, 202, 202); text-align: center;}
footer					{background: rgb(202, 202, 202); text-align: center;}
nav span             				{ margin: 0px 5px 0px 0px;
						width: 100%;
						display: inline-block;}
#receta-table {
	overflow-x:scroll;
	width:auto;
	height:500px;
	border:'2'; 
}


